
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #E5E5E5;
}

.header {
    display: flex;
    background-color: #CBC1B1;
    justify-content: center;
    gap: 50%;
    z-index: 3;
    position: relative;

}

.navbar {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.foter {
    background-color: #CBC1B1;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10%;
    top: 10%;
}

.grid{
    display: grid;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-left: 15%;
    margin-top: 10%;
    gap: 20%;
    width: 70%;

}
.item{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.gap{
    gap: 20%;
}

.hamburger {
    display: none;
}

.ham {
    width: 95%;
    background-color: black;
    height: 30%;
    border-radius: 20%;
    
}

@media(max-width: 500px) {
    .hamburger {
        display: flex;
        width: 30px;
        height: 30px;
        flex-direction: column;
        gap: 10%;
        margin-left: 80%;
    }

    .header {
        height: 80px;
    }
    .navbar {
        display: none;
    }
    .grid{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 20%;
    }
}