body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #E5E5E5;
}

.header {
    display: flex;
    background-color: #CBC1B1;
    justify-content: center;
    gap: 50%;
    z-index: 3;
    position: relative;

}

.navbar {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.logo {
    margin-left: 5%;
}

.foter {
    background-color: #CBC1B1;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid {
    display: grid;
    font-weight: bold;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-left: 10%;
    margin-top: 10%;
    gap: 40%;
    width: 25%;

}

.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;
    width: 400px;
}

.gap {
    gap: 20%;
}

.hamburger {
    display: none;
}

.ham {
    width: 95%;
    background-color: black;
    height: 30%;
    border-radius: 20%;

}

.space {
    gap: 100px;
}

@media(max-width: 500px) {
    .hamburger {
        display: flex;
        width: 30px;
        height: 30px;
        flex-direction: column;
        gap: 10%;
        margin-top: 12.5%;
        margin-right: 5%;
    }

    .header {
        height: 160px;
    }

    .navbar {
        display: none;
    }

    .item {
        font-size: 12.5px;

    }

    .space {
        gap: 100px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 50px;
        margin-left: 25%;
    }

    img {
        height: 50px;
        width: 50px;
    }

    .foter {
        width: 100%;
        margin-bottom: -9%;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: 5%;
    }
}