h1{
    color: #FFA500;
    font-size: 30 px;
    font-weight: bold;
}
p{
    color: #0000FF;
    font-size: 30 px;
    font-weight: normal;
}
h3{
    color: #00FF00;
    font-size: 25 px;
    font-weight: 600;
}